body {
	margin:0px;
	padding:0px;
	font-family:tahoma;
	font-size:12px;
}


img {
	width:540px;
	height:auto;
	
}

@name {
	background:#FFF;
	border:2px solid #CCC;
	padding:5px;
	font-family:tahoma;
	font-size:12px;
	display:none;
	position:absolute;
}