body {
	margin:0px;
	padding:0px;
	font-family:tahoma;
	font-size:12px;
}

img {
	width:540px;
	height:auto;
}

@name {
	background:#fff;
	border:2px solid #ccc;
	padding:5px;
	font-family:tahoma;
	font-size:12px;
	display:none;
}

/*@tagged {
	position:absolute;
	opacity:0;
	padding:5px;
	background:#fff;
	color:#333;
}*/
