html {
  position: relative;
  /*min-height: 100px;*/
}

body {
  margin-bottom: -20px; /* between the signin box and the footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #F5F5F5;
  font-weight: bold;
  margin-bottom: -310px; /* just the footer */
}

.footer .container :hover
{
  background-color: #2F96B4;
  text-decoration: none;
  color: #FFFFFF;
}

p :hover
{
  color: #FFFFFF;
  text-decoration: none;
}
